body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
  color: #333;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0px 5px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h2 {
  border-bottom: 1px solid #eee;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  margin: 15px 0;
}
li{
  list-style-type: none;
}
ul {
  padding-left: 30px;
}

.main{
  width: 985px;
  margin: 0 auto;
}

.header-section{
  width: 100%;
  height: 110px;
}

.logoImage{
  float: left;
  width:115px;
}

.headerTitle{
  display: inline-block;
  width: 110px;
  padding-top: 5px;
}

.headerTitle h2{
  margin-bottom: 5px;
}

.nav-section{
  display: block;
  width: 100%;
  height: 40px;
}

.nav-section li{
  float: left;
  margin: 5px 25px;
}

.nav-section li a{
  color:#333;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-section li a:hover{
  color: #b24727;
}

.centerpiece-section{
  width: 400px;
  float: left;
}

.cp-widget-section{
  display: inline-block;
  width: 520px;
  padding: 45px 20px 0 20px;
}

.cp-widget-section li{
  float: left;
  margin: 5px 25px;
}

.cp-widget-section li a{
  color:#d69437;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.cp-blurb-section{
  padding: 0 20px 60px 20px;
  text-align: center;
}

.column-left-section, .column-middle-section, .column-right-section{
  width: 295px;
  margin: 15px;
  float: left;
}

